<!DOCTYPE html>
<html>
  <head>
    <title><%= t('general.title' + ENV["BLOCKCHAIN"]) %></title>
    <%= csrf_meta_tags %>
  
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','<%= ENV["GOOGLE_TOKEN"] %>');</script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/sha256.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
  </head>

  <body>
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=<%= ENV["GOOGLE_TOKEN"] %>" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <div class="container">
      <div class="row">
        <div class="col-xs-2">
          <a href="https://www.ownyourdata.eu/<%= I18n.locale.to_s %>"><%= image_tag 'oyd.png', style: "height: 48px; margin: 18px 0;" %></a>
        </div>
        <div class="col-xs-8">
          <h1 style="text-align: center; margin-bottom: 30px;"><%= t('general.title' + ENV["BLOCKCHAIN"]) %></h1>
        </div>
        <div class="col-xs-2" style="white-space: nowrap; margin-top: 30px; text-align: right;">
          <%= link_to_unless I18n.locale.to_s == "de", "DE", { locale: 'de', hash: params[:hash], mode: params[:mode], operation: params[:operation] } %> | 
          <%= link_to_unless I18n.locale.to_s == "en", "EN", { locale: 'en', hash: params[:hash], mode: params[:mode], operation: params[:operation] } %>
        </div>
      </div>
      <%= yield %>
    </div>
    <hr>
    <div class="container">
      <div class="row">
        <div class="col-md-12" style="margin: 0 0 30px;">
          &copy; <a href="https://www.ownyourdata.eu/<%= I18n.locale %>">OwnYourData.eu</a>
          <% if I18n.locale.to_s == "en" %>
            <a href="https://www.ownyourdata.eu/en/imprint/" style="margin: 0 10px;">Imprint</a>
            <a href="https://www.ownyourdata.eu/en/privacy-policy/">Privacy Policy</a>
          <% else %>
            <a href="https://www.ownyourdata.eu/de/impressum/" style="margin: 0 10px;">Impressum</a>
            <a href="https://www.ownyourdata.eu/de/datenschutz/">Datenschutz</a>
          <% end %>
          <%= link_to t('general.faq'), faq_url(locale: I18n.locale), style: "margin: 0 10px;" %>
        </div>
      </div>
    </div>
  </body>
</html>
